.super-container{
  padding-right: 1px !important;
  padding-left: 1px !important;
}  
.acordion-seccion{
  padding: 20px; margin: 10px 0px 10px; border: 4px solid rgb(239, 239, 239);
}

.m-accordion .m-accordion__item .m-accordion__item-head {

  padding: 0.5rem 2rem !important;
  
}

.m-accordion__item-head{
  font-weight: bold;
}

.m-portlet .m-portlet__head{
  height: 3rem;
}

.alert {
  padding: 0.4rem 1.25rem;
  margin-bottom: 0.4rem;
}

.m-accordion.m-accordion--default .m-accordion__item {
  margin-bottom: 3px;
}

.form-control, .form-control[readonly] {
  border-color: #6f6f6f;
  color: #1d1d1f;
}

.m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-title {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  font-size: 1.2rem;
}

.m-accordion__item-title{
  color: white;
}


.phone {
  width: 330px;

  height: 603px;
  position:relative;
  border: 40px solid #121212;
  border-width: 55px 7px;
  border-radius: 40px;
  margin: -8px auto;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

/*Different Perspectives*/

.phone.view_1 {
  -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(-30deg);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(-30deg);
  box-shadow: -3px 3px 0 #000, -6px 6px 0 #000, -9px 9px 0 #000, -12px 12px 0 #000, -14px 10px 20px #000;
}

.phone.view_2 {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0px 3px 0 #000, 0px 4px 0 #000, 0px 5px 0 #000, 0px 7px 0 #000, 0px 10px 20px #000;
}

.phone-container{
    
}



.splashpage-panel{
  margin-top: -79px;
  height: 78px;
  margin-left: -5px;
  margin-right: -5px;
}

.splashpage-footer{
  text-align: center;
  height: 78px;
  margin-left: -15px;
  margin-right: -15px;
}

.splashpage-panel:hover{

background: rgba(255,255,255,0.3);
border-radius: 5px;
transition: all 2s ease;

}

.splashpage-footer:hover{

background: rgba(255,255,255,0.3);
border-radius: 5px;
transition: all 2s ease;

}

.canvass:hover{


background: rgba(255,255,255,0.3);
border-radius: 5px;
transition: all 2s ease;

}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper:hover .m-btn--air{
  background-color: #384ad7;
  border-color: #2e40d4;
}

#preview-image  {
  border: 1px solid gray; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100%; /* Set a small width */
  height:auto;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.btn{
  margin-bottom: 5px;
  width: 100%;
}

.md-color-picker-input{
  display:none !important;
}
md-input-container{
  display:none !important;
}

md-color-picker .md-color-picker-input-container .md-color-picker-preview, [md-color-picker] .md-color-picker-input-container .md-color-picker-preview
{
  width: 40px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-top: -27px;

}

.btn-social{
  margin-right: 4px;
  margin-left: 4px;
  width: 45px !important;
  height: 45px !important;
}

.logo{
  width: 53%;
  margin-top: -6px;
}

.md-color-picker-clear{
  display: none;
}

#container {
  position: relative;
}
.fabric-containe canvas, .splashpage-panel {
  position: absolute;
}
canvas {
  border: 1px solid black;
}

.canvas-container{
  position: inherit !important;
}

md-color-picker .md-color-picker-input-container .md-color-picker-preview, [md-color-picker] .md-color-picker-input-container .md-color-picker-preview{
  width: 58px !important;
  height: 24px !important;
  border: 2px solid gray  !important;
  border-radius: 10px;
  margin-top: -25px !important;
}





