
.phone {
  align-self: center;
    width: 260px;
    min-height: 480px;
    position:relative;
    border: 40px solid #121212;
    border-width: 55px 7px;
    border-radius: 40px;
    margin: -22px ;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

  /*Different Perspectives*/
  
  .phone.view_1 {
    -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(-30deg);
            transform: rotateX(50deg) rotateY(0deg) rotateZ(-30deg);
    box-shadow: -3px 3px 0 #000, -6px 6px 0 #000, -9px 9px 0 #000, -12px 12px 0 #000, -14px 10px 20px #000;
  }
  
  .phone.view_2 {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0px 3px 0 #000, 0px 4px 0 #000, 0px 5px 0 #000, 0px 7px 0 #000, 0px 10px 20px #000;
  }

  .phone-container{
      
  }

  -webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }

  .splashpage-panel{

    height: 60px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .splashpage-footer{
    text-align: center;
    height: 60px;
    margin-left: -15px;
    margin-right: -15px;
  }


.btn{
    margin-bottom: 5px;
    width: 100%;
}

.img-responsive{
  width: 100%;
  height: auto;
}

.m-portlet__head-icon{
  float:right !important;
}

.btn-social{
  margin-right: 4px;
  margin-left: 4px;
  width: 33px !important;
  height: 33px !important;
  margin-top: -6px;
}

.panel-label{
  font-size: 10px;
}

.footer-label{
  font-size: 10px;
}

.logo{
  width: 66%;
  margin-top: -6px;
}






  