
<link href="app/splashpage/splash-list.css" rel="stylesheet" type="text/css" />

<div class="m-content row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height " ng-if="vm.user_data.tipo == 1 || vm.user_data.tipo == 2" >
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-md-6" ng-if="vm.admin" >
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">Agencia</label>
                            <select class="form-control m-input" ng-model="vm.agencia" ng-change="vm.getCliente()" >
                                <option value="">Seleccione una agencia</option>
                                <option ng-repeat="a in vm.agencias" value="{{a._id}}" >{{a.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="vm.clientes.length > 0 || vm.user_data.tipo == 2">
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">Cliente</label>
                            <select class="form-control m-input" ng-model="vm.cliente" ng-change="vm.getSplashpages()"  >
                                <option value="">Seleccione una cliente</option>
                                <option ng-repeat="c in vm.clientes" value="{{c._id}}" >{{c.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="col-xl-12">
            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Mis Splashpages
                            </h3>
                        </div>
                        
                    </div>
                    <div class="m-portlet__head-tools">
                        <button type="button" ng-if ="vm.cliente != '' || vm.user_data.tipo == 3" class="btn m-btn--pill    btn-info" ui-sref="splasheditor({ id_cliente: vm.cliente || vm.user_data._id })">
                             + Splashpage
                        </button>
                    </div>
  
                </div>
                <div class="m-portlet__body row">
                    <div class="col-xl-4 phone-container" ng-repeat="splashpage in vm.splashpages">  
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            
                                       

                                            <span class="m-portlet__head-icon float-right">
                                                <button type="button" class="btn 
                                                    btn-info" ui-sref="splasheditor({id_splash: splashpage._id, id_cliente: vm.cliente })">
                                                    <i class="fa fa-pencil-alt"></i>
                                                </button>
                                                <button type="button" class="btn   btn-danger"  ng-click="vm.eliminar(splashpage._id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>      
                                            </span>
                                            <h3 class="m-portlet__head-text">
                                                {{splashpage.nombre}}
                                            </h3>
                                        </div>
                                    </div>
                                
                                </div>
                             
                                    <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                                        <div class="m-portlet__body "> 
                                                <div id="wrapper"> 
                                                    <div class="phone view_2" id="phone_1">
                                                    <div class="input_container">
                                                        <div class="super-container col-md-12" data-scrollable="true" style="height: 370px; overflow: hidden;">
                                                                <div class="fabric-container" ng-click="vm.panel = 1" style="margin-left: -15px !important;" >
                                                                    <div class="canvas-container" style="width: 246px; height: 260px; position: relative; user-select: none;"><img src="{{splashpage.configuracion.imagen.imagen}}" class="img-responsive" ></div>
                                                                </div>       
                                                                <div class="splashpage-panel" ng-style="{'background-color': splashpage.configuracion.panel.color_fondo}"  >
                                                                <div class="col-md-12" ng-style="{'color': splashpage.configuracion.panel.color_texto, 'font-size':slider.value+'px','text-align':'center'}"> 
                                                                        <n><label class="panel-label" >Accede a internet con una de las siguientes opciones</label></n>
                                                                        <div class="col-12" >
                                                                            <a href="#" ng-style="{'color': splashpage.configuracion.footer.color_texto2,'border-color': splashpage.configuracion.footer.color_texto2}" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air btn-social">
                                                                                <i class="fa fa-envelope"></i>
                                                                            </a>
                                                                    </div>
                                                                </div>
                                                                </div> 
                                                                <div class="splashpage-footer" ng-click="vm.panel = 3;" ng-style="{'background-color': splashpage.configuracion.footer.color_fondo}" >
                                                                    <label class="footer-label" ng-style="{'color':  splashpage.configuracion.footer.color_texto}" >Si entras estaras aceptando los terminos y condiciones</label>
                                                                    <div class="col-md-12">
                                                                        <img src="app/assets/conectalia.png" class="img-responsive logo">
                                                                    </div>
                                                                </div>                                   
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                
                    </div>
                </div>
        </div>
        </div>
  
</div>

