
<link href="app/splashpage/splasheditor.css" rel="stylesheet" type="text/css" />
<div class="m-content row">
    <div class="col-xl-4">
        <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <form ng-submit="vm.guardar()">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Configuración
                            </h3>
                            
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <button type="submit" class="btn m-btn--pill btn-info" >
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane" id="m_tabs_7_1" role="tabpanel">
                            
                        </div>
                        <div class="tab-pane" id="m_tabs_7_2" role="tabpanel">
                                
                        </div>
                        <div class="tab-pane active show" id="m_tabs_7_3" role="tabpanel" popover-close exclude-class="exclude">
                           
                            <div>
                 
                                <div class="form-group m-form__group">
                                    <b for="exampleInputPassword1">Nombre:</b>
                                    <input type="text" class="form-control m-input m-input--air m-input--pill" ng-model="vm.splashpage.nombre" required>
                                </div>
                                <div class="form-group m-form__group">
                                    <b for="exampleInputPassword1">Url de redireccion:</b>
                                    <input type="url" class="form-control m-input m-input--air m-input--pill" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" ng-model="vm.splashpage.url" required>
                                    <span>Ejemplo http://midomino.com</span>
                                </div>
      
                            </div>
                            
                            
                    
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Esilo imagen
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                       
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
              
                        <div class="tab-pane active show" id="m_tabs_7_3" role="tabpanel" popover-close exclude-class="exclude">
                            <div>
                                <div class='row' >
                                        <div class='col-xs-3'>
                                            <div class="upload-btn-wrapper col-md-12"  ng-if='!fabric.selectedObject'>
                                                <div class="col-md-12 text-center">
                                                    <button type="button" class="btn m-btn--air btn-primary col-md-12">Cargar imagen</button>
                                                </div>
                                                <input ng-model="photo" id="fondo" class="form-control"
                                                onchange="angular.element(this).scope().file_changed(this)"
                                                type="file" accept="image/*" />
                                            </div>
                                            <div  ng-if='!fabric.selectedObject'>
                                                <button type="button" id="btn-agregar" class="btn btn-success" data-dismiss="modal"  ng-click="addImage()">Agregar</button>
                                            </div>
    
                                            
                                            <div class="col-md-12"  ng-if='!fabric.selectedObject'>
                                                
                                                
                                                <div class="offset-2 col-sm-8 ">
                                                    <img src="app/assets/image-preview.png" id="preview-image"  class="img-responsive"  alt="Image">
                                                </div>
            
            
                                                
                                            </div>
                                            <div ng-if='fabric.selectedObject'>
                                            <div ng-switch='fabric.selectedObject.type'>
    
                                            <div class="row">
                                                <div class="col-sm-12">
                                                <label>Transparencia</label>
                                                <input class='col-sm-12' title="Transparency" type='range'
                                                        min="0"
                                                        max="1"
                                                        step=".01"
                                                        ng-model="fabric.selectedObject.opacity" />
                                                </div>
                                            </div>
    
                                            <div class="col-sm-12">    
                                                <button ng-click='fabric.centerH()' class='btn m-btn--air btn-primary'>
                                                    Centrar horizontal
                                                </button>
                                            </div>
    
                                            <div class="col-sm-12">
                                                <button ng-click='fabric.centerV()' class='btn m-btn--air btn-primary'>
                                                    Centrar vertical
                                                </button>
                                                
                                            </div>
                                            
                                            <div class="col-sm-12">
                                                <button class='btn m-btn--air btn-danger'   ng-click="remove()">
                                                    <i class='fa fa-exchange'></i> Eliminar imagen
                                                </button>
                                    
                                            </div>
                                    
                                            </div>
                                        </div>
                                    
                                        </div>
                                </div>              
                            </div>
                  
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div class="col-xl-5 phone-container">  
        <!--begin:: Widgets/Top Products-->
        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
            <div class="m-portlet__body "> 
                    <div id="wrapper "> 
                        <div class="phone view_2 mt-2" id="phone_1">
                        <div class="input_container" >
                            <div class="super-container col-md-12"  class="m-scrollable m-scrollable--track m-scroller ps ps--active-y" >
                                    <div class='fabric-container'   >
                                        <div class='canvass'   >
                                            <canvas fabric='fabric' class="editor"  ></canvas>
                                        </div>
                                        <div class='splashpage-panel' ng-style="{'background-color': scopeVariable.color}">
                                            <div class="col-md-12" ng-style="{'color': scopeVariable2.color, 'font-size':slider.value+'px','text-align':'center'}"> 
                                                <n><label >Accede a internet con una de las siguientes opciones</label></n>
                                                <div class="col-12" >
                                                    <a ng-if="tipo_registro_formulario" ng-style="{'color': scopeVariable5.color,'border-color': scopeVariable5.color}" class="btn btn-outline-info m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air btn-social">
                                                        <i class="fa fa-envelope"></i>
                                                    </a>
                                                    
                                                </div>
                                            </div>
                                        </div> 
                                    </div>       

                                    <div class='splashpage-footer'  ng-style="{'background-color': scopeVariable3.color}">
                                            <div class="col-md-12">
                                                <label ng-style="{'color': scopeVariable4.color}">Si entras estaras aceptando los  <ins>terminos y condiciones</ins></label>
                                            </div>
                                            <div class="col-md-12">
                                                    <svg width="180" height="50" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
                                                        <defs>
                                                         <g id="Layer0_0_FILL">
                                                          <path id="svg_1" ng-style="{'fill': scopeVariable6.color,'stroke': scopeVariable6.color}" d="m166.9,191.45l-7.9,0l0,22.85l7.9,0l0,-22.85m15.85,18.45q0,-1.05 -0.4,-2q-0.4,-0.9 -1.15,-1.65q-0.7,-0.7 -1.65,-1.1q-0.9,-0.35 -2,-0.35q-2.05,0 -3.6,1.45q-0.75,0.75 -1.1,1.65q-0.4,0.95 -0.4,2q0,1.05 0.4,1.95q0.35,0.95 1.1,1.65q1.55,1.5 3.6,1.5q1.1,0 2,-0.4q0.95,-0.35 1.65,-1.1q1.55,-1.45 1.55,-3.6m-49.35,-32.4l-8.4,0l0,36.8l8.4,0l0,-14.75l11.9,0l0,14.75l8.4,0l0,-36.8l-8.4,0l0,14.7l-11.9,0l0,-14.7m-93.3,-27.8q10,-9.65 23.85,-9.65q13.95,0 23.6,9.65l4,-4.05q-11.5,-11.5 -27.6,-11.5q-16.05,0 -27.55,11.5l3.7,4.05m33.5,13.9l3.75,-3.75q-5.65,-5.9 -13.4,-5.9q-8,0 -13.6,5.9l3.75,3.75q4.3,-4 9.85,-4q5.6,0 9.65,4m-9.95,-13.9q9.9,0 16.8,6.8l4,-3.7q-8.7,-8.75 -20.5,-8.75q-12.05,0 -20.7,8.75l3.75,3.7q7.1,-6.8 16.65,-6.8m-42.8,21.15q-1.85,1.7 -1.85,4.2l0,40.2q0,2.5 1.85,4.35q1.65,1.65 4.2,1.65l29.65,0l9.2,12.9l9.4,-12.9l29.65,0q2.5,0 4.3,-1.65q1.7,-1.85 1.7,-4.35l0,-40.2q0,-2.5 -1.7,-4.2q-1.85,-1.8 -4.3,-1.8l-77.9,0q-2.5,0 -4.2,1.8m6.35,22.15q0.85,1 0.85,2.2q0,1.3 -0.85,2.15q-0.85,0.8 -2.15,0.8q-1.15,0 -2.2,-0.8q-0.8,-0.85 -0.8,-2.15q0,-1.2 0.8,-2.2q1,-0.85 2.2,-0.85q1.3,0 2.15,0.85m76.75,-5.05q0.65,0 0.65,0.8l0,12.75q0,0.85 -0.65,0.85q-0.7,0 -0.7,-0.85l0,-12.75q0,-0.8 0.7,-0.8m-73.7,-14.75l69.15,0l0,43.85l-26.9,0l-8.6,11.75l-8.4,-11.75l-25.25,0l0,-43.85m47.4,18.6q-1.35,1.5 -1.35,3.4q0,1.95 1.35,3.3q1.5,1.35 3.35,1.35q1.85,0 3.35,-1.35q1.3,-1.35 1.3,-3.3q0,-1.9 -1.3,-3.4q-1.5,-1.35 -3.35,-1.35q-1.85,0 -3.35,1.35m-7.2,-6.2q-2,-2 -4.7,-2q-2.65,0 -4.7,2q-2,2 -2,4.7q0,2.85 2,4.7q2.05,2 4.7,2q2.7,0 4.7,-2q1.85,-1.85 1.85,-4.7q0,-2.85 -1.85,-4.7m-26,2.85q-1.65,1.65 -1.65,4.05q0,2.35 1.65,4.15q1.7,1.7 4.05,1.7q2.3,0 4.2,-1.7q1.65,-1.8 1.65,-4.15q0,-2.4 -1.65,-4.05q-1.85,-1.65 -4.2,-1.65q-2.35,0 -4.05,1.65m16.25,7.35q-1.65,0.4 -3,1.75q-1.15,1.3 -1.3,3.15q-0.5,-2.9 -3.6,-3.35q-1.95,1.7 -4.3,1.7q-2.35,0 -4.35,-1.7q-1.5,0.3 -2.5,1.5q-1.2,1.2 -1.2,2.85l0,5l47.05,0l0,-4q0,-3 -3,-3.65q-1.15,1.1 -3.5,1.45q-2,-0.15 -3.55,-1.45q-1.7,0.5 -2.45,2l0,-0.15q0,-1.85 -1.2,-3.25q-1.2,-1.45 -3.05,-1.85q-2,1.75 -5,2l-0.2,0q-2.85,-0.25 -4.85,-2m262.75,-18.3l-8.4,0l0,21.25q0,4.55 -1.4,6.25q-1.45,1.75 -4.55,1.75q-1.6,0 -2.75,-0.4q-1.15,-0.5 -1.85,-1.35q-1.35,-1.75 -1.35,-6.25l0,-21.25l-8.4,0l0,23.75q0,3.45 0.85,5.95q0.9,2.6 2.75,4.35q3.7,3.45 10.75,3.45q7.1,0 10.75,-3.45q1.8,-1.8 2.75,-4.35q0.85,-2.5 0.85,-5.95l0,-23.75m-64.3,16.3l-0.1,0l0,-2.35l-7.9,0l0,22.85l7.9,0l0,-13.35q0,-1.6 0.95,-2.7q0.9,-1.15 2.75,-1.15q2.05,0 3.05,1.25q1,1.2 1,3.05l0,12.9l7.9,0l0,-13.65q0.05,-1.45 1,-2.5q0.9,-1.05 2.6,-1.05q2.05,0 3.1,1.25q0.9,1.15 0.9,3.05l0,12.9l7.95,0l0,-15q0,-4.45 -2.65,-6.5q-1.3,-1.05 -2.9,-1.5q-1.6,-0.55 -3.45,-0.55q-1.95,0 -3.85,1.05q-1.95,1.1 -3.7,3.15q-0.5,-1.05 -1.3,-1.85q-0.9,-0.8 -1.95,-1.35q-2.25,-1 -4.7,-1q-3.5,0 -6.6,3.05m-25.3,-3.05q-5.9,0 -9.85,3.45q-2,1.65 -3,3.85q-1,2.2 -1,4.85q0,5.3 3.85,8.75q3.85,3.35 10,3.35q5.95,0 9.75,-3.45q1.95,-1.65 2.95,-3.85q0.95,-2.15 0.95,-4.8q0,-5.3 -3.9,-8.7q-4,-3.45 -9.75,-3.45m-2.15,7.1q0.9,-0.4 2.1,-0.4q1.05,0 2.1,0.4q0.95,0.4 1.65,1.2q1.55,1.45 1.55,3.85q0,2.35 -1.45,3.85q-1.55,1.55 -3.85,1.55q-1.2,0 -2.2,-0.4q-0.95,-0.4 -1.75,-1.15q-1.35,-1.5 -1.35,-3.85q0,-2.4 1.45,-3.85q0.85,-0.8 1.75,-1.2m-33.3,-9.15q1.4,-1.7 3.85,-2.6q1.15,-0.55 2.55,-0.75l2.9,-0.25q1.9,0 3.8,0.55l2.5,1.05l0.9,0.65l3.55,-7.15l-1.25,-0.9q-1.15,-0.75 -4.2,-1.6q-4.25,-0.9 -6.6,-0.9q-1.95,0 -3.75,0.4q-1.9,0.35 -3.8,1.15q-3.65,1.5 -6.35,4.1q-1.35,1.2 -2.5,2.8q-1,1.4 -1.95,3.3q-0.8,1.8 -1.2,3.65q-0.45,1.85 -0.45,3.8q0,5.1 2.85,9.55q1.4,2.25 3.25,3.95q1.85,1.7 4.2,3q4.5,2.5 9.7,2.5q2.35,0 4.3,-0.4q2.15,-0.3 3.4,-0.75l2.45,-1.05l1.9,-1.15l-3.55,-7.15l-0.85,0.6q-0.8,0.5 -2.65,1.1q-1.75,0.55 -3.7,0.55q-2.95,0 -5.2,-0.8q-2.25,-0.85 -3.85,-2.55q-3.1,-3.3 -3.1,-7.55q0,-1.9 0.75,-3.75q0.7,-1.8 2.1,-3.4m-35.35,-2.05q1.95,0 3.3,-1.4q0.75,-0.7 1.05,-1.5q0.4,-0.85 0.4,-1.8q0,-0.95 -0.4,-1.75q-0.3,-0.9 -1.05,-1.55q-0.7,-0.7 -1.5,-1.1q-0.8,-0.25 -1.8,-0.25q-1,0 -1.75,0.25q-0.8,0.4 -1.5,1.1q-1.45,1.4 -1.45,3.3q0,1.95 1.45,3.3q1.35,1.4 3.25,1.4m18.5,-10.7l-7.95,0l1.15,26.3l5.75,0l1.05,-26.3m232.3,45.2l-0.05,-0.5q0,-0.25 -0.15,-0.4q-0.15,-0.15 -0.45,-0.15l-0.95,0l0,3.85l0.55,0l0,-1.8l0.2,0q0.2,0 0.25,0.1q0.05,0.15 0.05,0.35l0,1.35l0.65,0q-0.1,0 -0.1,-0.8q0,-0.6 -0.05,-0.9q-0.1,-0.25 -0.25,-0.3q0.15,-0.1 0.25,-0.25q0.05,-0.25 0.05,-0.55m-0.6,-0.45q0.05,0.1 0.05,0.4l0,0.4q0,0.15 -0.1,0.15q0,0.05 -0.15,0.05l-0.25,0l0,-1.15l0.2,0q0.2,0 0.25,0.15m-3.4,-0.6l-0.65,0l0,3.85l0.45,0l0,-2.75l0.5,2.75l0.5,0l0.5,-2.75l0,2.75l0.5,0l0,-3.85l-0.75,0l-0.55,2.85l-0.5,-2.85m-44.1,-28.65l-7.85,0l0,22.85l7.85,0l0,-22.85m28.75,0l-9.1,0l10.9,19.3l-7.95,15.2l9.1,0l18,-34.5l-9.15,0l-5.4,11.7l-6.4,-11.7m-25.1,6l3.3,0l0,8.8q0,1.75 0.35,3.15q0.35,1.45 1.15,2.75q0.9,1.3 2.45,2.1q1.65,0.75 3.8,0.75q1.7,0 3.15,-0.4q1.45,-0.3 2.65,-1.05l-1.9,-6.35l-0.3,0.2l-0.7,0.35l-1,0.15q-0.8,0 -1.35,-0.8q-0.4,-0.8 -0.4,-2.35l0,-7.3l4.8,0l0,-6l-4.8,0l0,-8.55l-7.9,0l0,8.55l-3.3,0l0,6m-10.75,-12.2q1.4,1.4 3.3,1.4q1.9,0 3.25,-1.4q0.75,-0.7 1.05,-1.5q0.4,-0.85 0.4,-1.8q0,-0.95 -0.4,-1.75q-0.35,-0.95 -1.05,-1.55q-0.7,-0.7 -1.5,-1.1q-0.8,-0.25 -1.75,-0.25q-1,0 -1.8,0.25q-0.8,0.4 -1.5,1.1q-1.45,1.4 -1.45,3.3q0,1.95 1.45,3.3m-22.4,6.2l-7.85,0l0,22.85l7.85,0l0,-12.9q0,-1.75 1.5,-3.05q0.7,-0.75 1.45,-1.05q0.9,-0.35 1.7,-0.35q1.85,0 3.05,1.3q1.15,1.35 1.15,3.15l0,12.9l7.85,0l0,-15q0,-2.35 -0.95,-4.05q-0.95,-1.75 -2.4,-2.65q-1.65,-0.95 -3.25,-1.4q-1.75,-0.45 -3.4,-0.45q-3.5,0 -6.65,3.05l-0.05,0l0,-2.35z" fill="#FFFFFF"/>
                                                         </g>
                                                         <path ng-style="{'fill': scopeVariable6.color,'stroke': scopeVariable6.color}" d="m414.3,219.35q1.1,1.15 1.1,2.75q0,1.6 -1.1,2.65q-1.1,1.2 -2.7,1.2q-1.6,0 -2.75,-1.2q-1.15,-1.05 -1.15,-2.65q0,-1.6 1.15,-2.75q1.15,-1.15 2.75,-1.15q1.6,0 2.7,1.15z" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="#FFFFFF" id="Layer0_0_1_STROKES"/>
                                                        </defs>
                                                        <g>
                                                         <title>background</title>
                                                         <rect fill="none" id="canvas_background" height="52" width="182" y="-1" x="-1"/>
                                                        </g>
                                                        <g>
                                                         <title>Layer 1</title>
                                                         <g stroke="null" id="svg_2" ng-style="{'color': scopeVariable6.color}">
                                                          <use stroke="null" transform="matrix(0.3744482300739519,0,0,0.37000001178326547,11.008828318816768,-3.4155064389292527) " x="-3" y="-111" id="svg_3" xlink:href="#Layer0_0_FILL"/>
                                                          <use stroke="null" transform="matrix(0.3744482300739519,0,0,0.37000001178326547,11.008828318816768,-3.4155064389292527) " x="-3" y="-111" id="svg_4" xlink:href="#Layer0_0_1_STROKES"/>
                                                         </g>
                                                        </g>
                                                       </svg>
                                            </div>
                                    </div>                                   
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">

                <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Esilo Panel
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                               
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="tab-content">
                      
                                <div class="tab-pane active show" id="m_tabs_7_3" role="tabpanel" popover-close exclude-class="exclude">
                                    <div >
                         
                                        <div  >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b >Color de fondo:</b>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div md-color-picker="scopeVariable.options" ng-model="scopeVariable.color" default="#fff"></div>
                                                </div>
                                               
                                            </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-sm-12">
                                                        <b >Color de texto:</b>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div md-color-picker="scopeVariable2.options" ng-model="scopeVariable2.color" default="#fff"></div>
                                                    </div>
                                                   
                                            </div>    
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b >Color de botones:</b>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div md-color-picker="scopeVariable5.options" ng-model="scopeVariable5.color" default="#fff"></div>
                                                </div>     
                                            </div>  
                                            <br>           
                                        </div>
                               
                                        
                                    </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        Esilo footer
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="tab-content">
                        
                                <div class="tab-pane active show" id="m_tabs_7_3" role="tabpanel" popover-close exclude-class="exclude">
                                    <div>
                                        <div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <b >Color de fondo:</b>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div md-color-picker="scopeVariable3.options" ng-model="scopeVariable3.color" default="#555"></div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <b >Color de terminos:</b>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div md-color-picker="scopeVariable4.options" ng-model="scopeVariable4.color" default="#555"></div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <b >Color de logo:</b>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div md-color-picker="scopeVariable6.options" ng-model="scopeVariable6.color" default="#555"></div>
                                                    </div>
                                                </div>
                                        </div>
                                        
                                    </div>
                            
                            </div>
                        </div>
                        </div>
                </div>
       
    </div>
</div>

