<link href="app/encuestas/encuesta.css" rel="stylesheet" type="text/css" />


    <div class="m-content row">
            
            <div class="col-xl-4 phone-container">  
                <!--begin:: Widgets/Top Products-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="m-portlet__body "> 
                            <div id="wrapper"> 
                                <div class="phone view_2" id="phone_1">
                                <div class="input_container" ng-style="{'background-color': vm.colorFondoEncuesta }">
                                    <div class="super-container col-md-12" ng-style="{'color': vm.colorTexto,'font-size':vm.medidaTexto}" class="m-scrollable m-scrollable--track m-scroller ps ps--active-y" data-scrollable="true" style="height: 370px; overflow: auto;">
                                        <div class="logo" ng-style="{'background-color': vm.scopeVariable.color}">
                                            <img id="preview-image" src="" >
                                        </div>
                                        <div class="encuesta"  ng-repeat="pregunta in vm.encuesta.preguntas" ng-show="vm.step == $index">

                                        <div class="pregunta" ng-style="{'background-color': vm.scopeVariable2.color}">
                                           <n><span style="color:white;" ng-style="{'font-size':vm.slider.value+'px','color': vm.scopeVariable5.color}"> {{pregunta.pregunta}}</span></n> 
                                        </div>
                                        <div class="contenido" ng-style="{'background-color': vm.scopeVariable3.color,
                                        'color': vm.scopeVariable4.color}">
                                                 
                                                <div ng-switch="pregunta.tipo">
    
                                                <div class="m-portlet__body" ng-switch-when="1">
                                                    <div class="form-group m-form__group">
                                                        <label >{{opcion}}</label>
                                                        <input type="text" class="form-control m-input m-input--air m-input--pill"  >
                                                    </div>
                                                </div>
                                                <div class="m-radio-list" ng-switch-when="2">
                                                    <label class="m-radio m-radio--bold m-radio--state-brand" ng-repeat="opcion in pregunta.opciones" ng-style="{'color':  vm.scopeVariable4.color}">
                                                        <input  type="radio" name ="{{pregunta.pregunta | lowercase}}" ng-model="opcion.respuesta" ng-click="vm.respuesta = opcion.accion" > {{opcion.opcion}}
                                                        <span ng-style="{'border': '1px solid '+ vm.scopeVariable4.color}"></span>
                                                    </label>
                                                </div>
                                                <div class="m-checkbox-list" ng-switch-when="3">
                                                    <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand" ng-repeat="opcion in pregunta.opciones">
                                                        <input  type="checkbox"> {{opcion.opcion}}
                                                        <span ng-style="{'border': '1px solid '+ vm.scopeVariable4.color}"></span>
                                                    </label>
                                                </div>
    
                                                </div>
                                                <div class="btn-container">
                                                    <button type="button" ng-style="{'background-color': vm.scopeVariable6.color}" ng-click="vm.accion()" class="btn m-btn--square  btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase" ><i class="fa fa-plus-circle" ></i> Continuar</button>
                                                </div>
                                        </div>
                                        </div>
                                                                            
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xl-8">  
                <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                               
                            </div>
                            <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right" role="tablist">
                                <li class="nav-item m-tabs__item" ng-if="vm.edit_data == true">
                                    <a class="nav-link m-tabs__link " ng-click="vm.selectedTab = 1" ng-class="vm.selectedTab == 1 ? 'active-button' : ''" style="border: solid 1px gray">
                                        Contenido
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" ng-click="vm.selectedTab = 2"  ng-class="vm.selectedTab == 2 ? 'active-button' : ''" style="border: solid 1px gray">
                                        Estilo
                                    </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item" data-toggle="modal" data-target="#modal-encuesta" >
                                    <a href="" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--icon m-btn--icon-only m-btn--pill">
                                        <i class="la la-pencil"></i>
                                    </a>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <button type="button" class="btn btn-secondary btn-sm btn-edit" ng-click="vm.guardarEncuesta()"><i class="fa fa-save"></i> Guardar encuesta</button>
                                </li>
                            </ul>   
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="m-portlet__head-text">
                                    Encuesta: {{vm.encuesta.nombre}}
                                </h3>
                            </div>
                            
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane " ng-if="vm.edit_data == true" ng-class="vm.selectedTab == 1 ? 'active show' : ''" >
                                    <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_accordion_5" role="tablist">
                                        <div class="m-accordion  m-accordion--toggle-arrow" id="m_accordion_5" role="tablist" ng-repeat="pregunta in vm.encuesta.preguntas" ng-init="preguntasIndex=$index">
                                                <div class="m-accordion__item m-accordion__item--info">
                                                    <div class="m-accordion__item-head collapsed" >
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <span class="m-accordion__item-title"> {{pregunta.pregunta}}</span>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <button type="button" class="btn btn-secondary btn-sm btn-edit" ng-click="vm.modalAsk(pregunta.pregunta,preguntasIndex)"><i class="fa fa-pencil-alt"></i></button>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <span class="m-accordion__item-mode" role="tab" id="m_accordion_5_item_3_head" data-toggle="collapse" href="#m_accordion_{{$index}}" aria-expanded="false"></span>
                                                            </div>
                                                            <div class="col-md-1" >
                                                                <a class="m-widget4__icon" ng-if="preguntasIndex > 0" ng-click="vm.moveUpPregunta(preguntasIndex)">
                                                                    <i class="la la-upload"></i>
                                                                </a>
                                                                <a class="m-widget4__icon" ng-if="(preguntasIndex+1) < vm.encuesta.preguntas.length" ng-click="vm.moveDownPregunta(preguntasIndex)">
                                                                    <i class="la la-download"></i>
                                                                </a>
                                                                <!--<span class="pull-left" ng-if="(preguntasIndex+1) < vm.encuesta.preguntas.length" ng-click="vm.moveDownPregunta(preguntasIndex)" ><i class="fa fa-angle-down"></i></span>
                                                                <span class="pull-rigth" ng-if="preguntasIndex > 0" ng-click="vm.moveUpPregunta(preguntasIndex)" ><i class="fa fa-angle-up"></i></span>-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-accordion__item-body collapse" id="m_accordion_{{$index}}" class=" " role="tabpanel" aria-labelledby="m_accordion_5_item_3_head" data-parent="#m_accordion_5">
                                                        <div class="m-accordion__item-content">
                                                            <div  class="acordion-seccion">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group m-form__group ">
                                                                            <label for="" >Tipo de pregunta</label>
                                                                            <select class="form-control m-input" ng-model="pregunta.tipo" >
                                                                                <option value="1">Texto</option>
                                                                                <option value="2">Opcion multiple</option>
                                                                                <option value="3">Check List</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- configuracion -->
                                                                <div class="row" ng-if="pregunta.tipo == 1">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group m-form__group ">
                                                                            <label for="" >Tipo de respuesta</label>
                                                                            <select class="form-control m-input" ng-model="pregunta.config.tipo" >
                                                                                <option value="Texto">Texto</option>
                                                                                <option value="Numerico">Numerico</option>
                                                                                <option value="Alfanumerico">Alfanumerico</option>
                                                                                <option value="Email">Email</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" ng-if="pregunta.tipo == 1 && (pregunta.config.tipo == 'Texto' || pregunta.config.tipo == 'Numerico' || pregunta.config.tipo == 'Alfanumerico')" >
                                                                    <div class="col-md-6">
                                                                        <div class="form-group m-form__group ">
                                                                            <label for="">Minimo</label>
                                                                            <input type="number" class="form-control m-input" placeholder="Minimo" ng-model="pregunta.config.min" >
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group m-form__group ">
                                                                            <label >Maximo</label>
                                                                            <input type="number" class="form-control m-input" placeholder="Maximo" ng-model="pregunta.config.max" >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xl-6">
                                                                            Requerido
                                                                        <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                                                                            <label>
                                                                                <input type="checkbox" ng-model="pregunta.config.requerido" >
                                                                                <span></span>
                                                                            </label>
                                                                            
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="m-portlet m-portlet--primary m-portlet--head-solid-bg" ng-if="pregunta.tipo == 2 || pregunta.tipo == 3" >
                                                                <div class="m-portlet__head">
                                                                    <div class="m-portlet__head-caption">
                                                                        <div class="m-portlet__head-title">
                                                                            <span class="m-portlet__head-icon">
                                                                                <i class="flaticon-line-graph"></i>
                                                                            </span>
                                                                            <h3 class="m-portlet__head-text">
                                                                                Opciones
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                
                                                                </div>
                                                                <div class="m-portlet__body">
                                                                    <div class="row" ng-repeat="opcion in pregunta.opciones" ng-init="opcionesIndex=$index">
                                                                        <div class="alert alert-success col-md-6" role="alert" >
                                                                            <button type="button" class="close" style="margin-top: -10px;";data-dismiss="alert" aria-label="Close" ng-click="vm.deleteOpcion(preguntasIndex,opcionesIndex)" ></button>
                                                                            <strong class="cursor-text" ng-click="vm.modalOption(opcion.opcion,preguntasIndex,opcionesIndex)">{{opcion.opcion}}</strong>
                                                                        </div>
                                                                        <div class="col-md-6 form-group m-form__group action-select" ng-if="pregunta.tipo == 2">
                                                                            <div class="input-group m-input-group">
                                                                                <div class="input-group-prepend">
                                                                                    <span class="input-group-text">Accion</span>
                                                                                </div>
                                                                                <select class="form-control m-input" ng-model="opcion.accion" >
                                                                                    <option value="1" >Continuar encuesta</option>
                                                                                    <option value="2" >Terminar encuesta</option>
                                                                                    <option value="3"> Ocultar pregunta</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div ng-if="opcion.accion == 3" class="col-md-6" style="margin-left: 50%;">
                                                                                <label class="form-control-label">Pregunta</label>
                                                                                <select multiple class="form-control m-input" ng-model="opcion.data" >
                                                                                        <option ng-repeat="p in vm.encuesta.preguntas" ng-if="p.numero_pregunta > pregunta.numero_pregunta" value="{{p.numero_pregunta}}">{{p.numero_pregunta}}</option>
                                                                                </select><br>
                                                                        </div>
                                                                    </div>
                                                                    <button type="button" class="btn m-btn--square  btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase" ng-click="vm.modalOption('',preguntasIndex,0)"><i class="fa fa-plus-circle"></i> Opcion</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <button type="button" class="btn m-btn--square  btn-primary m-btn m-btn--custom m-btn--bolder m-btn--uppercase" ng-click="vm.modalAsk('',0)"><i class="fa fa-plus-circle"></i> Pregunta</button>
                                    </div>
                            </div>
                            <div class="tab-pane" ng-class="vm.selectedTab == 2 ? 'active show' : ''">
                                    <div class="upload-btn-wrapper">
                                        <div class="upload-btn-wrapper text-center">
                                            <button type="button" class="btn m-btn--air btn-primary">Cargar imagen</button>
                                        </div>
                                        <input ng-model="photo" id="fondo" class="form-control"
                                        onchange="angular.element(this).scope().file_changed(this)"
                                        type="file" accept="image/*" />
                                    </div>
                             
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Color fondo logo:</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <div md-color-picker="vm.scopeVariable.options" ng-model="vm.scopeVariable.color" default="#fff"></div>
                                        </div>    
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Color fondo pregunta:</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <div md-color-picker="vm.scopeVariable2.options" ng-model="vm.scopeVariable2.color" default="#fff"></div>
                                        </div>    
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Color texto pregunta:</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <div md-color-picker="vm.scopeVariable5.options" ng-model="vm.scopeVariable5.color" default="#fff"></div>
                                        </div>    
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Color fondo opciones:</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <div md-color-picker="vm.scopeVariable3.options" ng-model="vm.scopeVariable3.color" default="#fff"></div>
                                        </div>    
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Color texto opciones:</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <div md-color-picker="vm.scopeVariable4.options" ng-model="vm.scopeVariable4.color" default="#fff"></div>
                                        </div>    
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label >Color boton:</label>
                                        </div>
                                        <div class="col-sm-2">
                                            <div md-color-picker="vm.scopeVariable6.options" ng-model="vm.scopeVariable6.color" default="#fff"></div>
                                        </div>    
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>

    </div>

    <!--begin::Modal-->
    <div class="modal fade" id="modal-option" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form ng-submit="vm.saveOption()">
            <div class="modal-content">
                <div class="modal-header " >
                    <h5 class="modal-title" ng-if="vm.accion == 'update-option'" >Editar opcion</h5>
                    <h5 class="modal-title" ng-if="vm.accion == 'insert-option'" >Agregar opcion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Opcion:</label>
                        <input type="text" class="form-control" ng-model="vm.option" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Guardar cambios</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!--end::Modal-->


        <!--begin::Modal-->
        <div class="modal fade" id="modal-ask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <form ng-submit="vm.saveAsk()">
                    <div class="modal-content">
                        <div class="modal-header " >
                            <h5 class="modal-title" ng-if="vm.accion == 'update-ask'" >Editar pregunta</h5>
                            <h5 class="modal-title" ng-if="vm.accion == 'insert-ask'" >Agregar Pregunta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Pregunta:</label>
                                    <input type="text" class="form-control" ng-model="vm.ask" required>
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Guardar cambios</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        
            <!--end::Modal-->

    <!--begin::Modal-->
<div class="modal fade" id="modal-encuesta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header " >
                <h5 class="modal-title" >Nombre de la encuesta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="vm.nombre_encuesta" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.cambiarNombre()" >Guardar cambios</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
            </form>
        </div>
    </div>
</div>
    