

    <div class="m-content">

        
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height " ng-if="vm.user_data.tipo == 1 || vm.user_data.tipo == 2" >
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-6" ng-if="vm.admin" >
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Agencia</label>
                                <select class="form-control m-input" ng-model="vm.agencia" ng-change="vm.getCliente()" >
                                    <option value="">Seleccione una agencia</option>
                                    <option ng-repeat="a in vm.agencias" value="{{a._id}}" >{{a.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="vm.clientes.length > 0 || vm.user_data.tipo == 2">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Cliente</label>
                                <select class="form-control m-input" ng-model="vm.cliente" ng-change="vm.getEncuestas()"  >
                                    <option value="">Seleccione una cliente</option>
                                    <option ng-repeat="c in vm.clientes" value="{{c._id}}" >{{c.nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--begin:: Widgets/Top Products-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                <div class="m-portlet__body">
                    <button type="button" ng-if="vm.cliente != '' || vm.user_data.tipo == 3" class="btn btn-brand" data-toggle="modal" data-target="#m_modal_4" ><i class="fa fa-plus" ></i> Nueva encuesta</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="showFilter = !showFilter"><i class="fa fa-filter"></i> Filtros</button>
                    <br><br>
                    <div class="row">
                        <table ng-table="vm.tableParams"show-filter="showFilter"  class="table m-table m-table--head-bg-success" show-filter="true">
                            <tr ng-repeat="encuesta in $data">
                                <td title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                                    {{encuesta.nombre}}
                                </td>
                                <td title="'Fecha de creacion'" filter="{ createdAt: 'text'}" sortable="'createdAt'">
                                    {{encuesta.createdAt | date : 'medium' }}
                                </td>
                                <td title="'Acción'" >
                                    <span class="btn btn-brand m-btn m-btn--icon m-btn--icon-only" title="Copiar" ng-if="encuesta.respuestas.length > 0" ng-click="vm.copy(encuesta)">
                                        <i class="fa fa-copy"></i>
                                    </span>
                                    <span class="btn btn-brand m-btn m-btn--icon m-btn--icon-only" title="Estadisticas" ui-sref="estadisticas({id_encuesta: encuesta._id })">
                                        <i class="fa 	fa-chart-bar"></i>
                                    </span>
                                    <span class="btn btn-brand m-btn m-btn--icon m-btn--icon-only" title="Editar" ui-sref="encuesta({id_encuesta: encuesta._id })">
                                        <i class="fa fa-pencil-alt"></i>
                                    </span>
                                    <span class="btn btn-danger m-btn m-btn--icon m-btn--icon-only" title="Eliminar" ng-if="encuesta.respuestas.length == 0" ng-click="vm.eliminar(encuesta)">
                                        <i class="fa fa-power-off"></i>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <!--end:: Widgets/Top Products-->
        </div>

</div>

<!--begin::Modal-->
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header " >
                <h5 class="modal-title" >Agregar encuesta al cliente : {{vm.cliente_nombre || vm.user_data.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="vm.agregarEncuesta()">
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Nombre de la encuesta:</label>
                                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.encuesta.nombre" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar encuesta</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--end::Modal-->

<!--begin::Modal copiar-->
<div class="modal fade" id="modal-copy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header " >
                <h5 class="modal-title" >Copiar encuesta al cliente : {{vm.cliente_nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="vm.copiarEncuesta()">
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Nombre de la encuesta:</label>
                                <input type="text" class="form-control" placeholder="Nombre" ng-model="vm.encuesta_copy.nombre" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar encuesta</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal::Eliminar-->

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar encuesta</h5>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro de eliminar la encuesta?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete()">Eliminar</button>
            </div>
        </div>
    </div>
</div>