<style>
    td{
        text-align: center !important;
    }  
</style>
    <div class="m-content">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height "  >
                <div class="m-portlet__body">
                    <h1>Resultados:</h1>
                    <p>
                        <h4>Encuesta: {{vm.encuesta.nombre}}</h4>
                        <h4>Fecha creación: {{vm.encuesta.createdAt | date : 'dd/MMM/yyyy' }}</h4>
                        <h4>Numero de respuestas: {{vm.encuesta.respuestas.length}}</h4>
                    </p>
            </div>
        </div>
        
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                <div class="m-portlet__body">
                    <div class="row">
                        <table class="table m-table m-table--head-bg-success">
                            <thead>
                                <tr>
                                    <th>Fecha de Respuesta</th>
                                    <th>Plaza/Modem en que se hizo la respuesta</th>
                                    <th>Nombre Lead</th>
                                   <th ng-repeat="pregunta in vm.encuesta.preguntas">{{pregunta.pregunta}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="respuestas in vm.encuesta.respuestas">
                                    <td>{{respuestas.fecha | date : 'dd-MMM-yyyy' }}</td>
                                    <td>{{respuestas.modem}}</td>
                                    <td>{{respuestas.lead.nombre}}</td>
                                    <td ng-repeat="respuesta in respuestas.respuesta" >{{respuesta.opciones[0]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
    </div>

    
    <div class="col-xl-12 dashboard-charts">
            <div class="row">
                <div class="col-xl-6">
                    <div class="m-portlet-charts m-portlet m-portlet--brand m-portlet--head-solid-bg">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon">
                                        <i class="flaticon-diagram"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        GENERO
                                    </h3>
                                </div>
                            </div>

                        </div>
                        <div class="m-portlet__body">
                                <div id="container">Placeholder for chart</div> 
                        </div>
                    </div>
                                   
                </div>
                <div class="col-xl-6">
                    <div class="m-portlet-charts m-portlet m-portlet--success m-portlet--head-solid-bg">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon">
                                        <i class="flaticon-diagram"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        EDAD
                                    </h3>
                                </div>
                            </div>

                        </div>
                        <div class="m-portlet__body">
                                <div id="container2">Placeholder for chart</div> 
                        </div>
                    </div>
                                       
                </div>
            </div>
        </div>
  