<div class="m-content">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height  ">
                <div class="m-portlet__body">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title">
                            <h4>
                                <label class="form-control-label" ng-if="vm.user.tipo == 1" >Administrador</label>
                                <label class="form-control-label" ng-if="vm.user.tipo == 2" >Agencia</label>
                                <label class="form-control-label"  ng-if="vm.user.tipo == 3" >Cliente</label>
                            </h4>
                        </div> 
                        <div class="m-card-profile__pic">
                            <div class="m-card-profile__pic-wrapper">
                                <img src=" {{vm.user.logo || 'assets/app/media/img/users/default-user.png' }} " class="m--img-rounded pull-right m--img-thumbnail" height="100px" width="100px" alt="Logo" />                            
                            </div> 
                        </div>
                        <div class="m-card-profile__details">
                            <span class="m-card-profile__name">{{vm.user.nombre}}</span>
                            <a href="" class="m-card-profile__email m-link">{{vm.user.email}}</a>
                        </div>
                    </div>
                    <!--<ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                        <li class="m-nav__separator m-nav__separator--fit"></li>
                        <li class="m-nav__item">
                            <a href="#" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                <span class="m-nav__link-text">Datos personales</span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="#" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-share"></i>
                                <span class="m-nav__link-text">Datos de contacto</span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="../header/profile&amp;demo=default.html" class="m-nav__link">
                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                <span class="m-nav__link-text">Datos de pago</span>
                            </a>
                        </li>
                        <li class="m-nav__item">
                            <a href="#m_user_profile_tab_4" class="m-nav__link" data-toggle="tab" role="tab">
                                <i class="m-nav__link-icon flaticon-graphic-2"></i>
                                <span class="m-nav__link-text">Datos del usuario</span>
                            </a>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    Datos personales
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                        Datos de pago
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                       Cuenta
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right" ng-submit="vm.update()">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Nombre</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" ng-model="vm.user.nombre" >
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Dirección</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" ng-model="vm.user.direccion" >
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Telefono</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="number" ng-model="vm.user.telefono" >
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">RFC</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" ng-model="vm.user.rfc" >
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Nombre del contacto</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" ng-model="vm.user.contacto">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_2">
                        <form class="m-form m-form--fit m-form--label-align-right" ng-submit="vm.update()">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Nombre del contacto</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" ng-model="vm.user.pagos.contacto" >
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Telefono</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="number" ng-model="vm.user.pagos.telefono" >
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Email</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="email" ng-model="vm.user.pagos.email" >
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_3">
                        <form class="m-form m-form--fit m-form--label-align-right" ng-submit="vm.update()" >
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Cambiar imagen/logo</label>
                                    <div class="col-4">
                                        <input class="form-control m-input" type="file" accept="image/*" onchange="angular.element(this).scope().logo_changed(this)" />
                                    </div>
                                    <div class="col-3">
                                        <div class="m-card-profile__pic">
                                            <img id="logo" src="assets/app/media/img/users/default-user.png" class="m--img-rounded pull-rightm--marginless" width="50px" height="50px" alt="Logo" />                            
                                        </div> 
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Usuario</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" ng-model="vm.user.usuario" >
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label"></label>
                                    <div class="col-7">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-password">Cambiar contraseña</button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!--Modal::Password-->
    <div class="modal fade" id="modal-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Cambiar contraseña</h5>
                    </div>
                    <form ng-submit="vm.updatePassword()">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-xl-12">
                                    <label class="form-control-label">Password actual:</label>
                                    <input type="password" class="form-control" ng-model="vm.user.password" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xl-12">
                                    <label class="form-control-label">Nuevo password:</label>
                                    <input type="password" class="form-control" ng-model="vm.user.password2" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-xl-12">
                                    <label for="repeat-password" class="form-control-label">Repeat Password:</label>
                                    <input id="repeat-password" type="password" class="form-control" ng-model="vm.user.password3" ng-change="vm.checkPasswords(vm.user.password3)" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" >Cambiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<!--    <div class="m-content">

        
            <div class="col-xl-12">
                
                <--begin:: Widgets/Top Products--
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="m-portlet__body">
                        <div class="row">
                            <h4>Configuración del usuario&nbsp;&nbsp;-&nbsp;&nbsp; 
                                <label class="form-control-label" ng-if="vm.user.tipo == 1" >Administrador</label>
                                <label class="form-control-label" ng-if="vm.user.tipo == 2" >Agencia</label>
                                <label class="form-control-label"  ng-if="vm.user.tipo == 3" >Cliente</label>
                            </h4>
                            <div>
                                <img id="logo" src=" {{vm.user.logo || 'assets/app/media/img/users/default-user.png' }} " class="m--img-rounded pull-right m--img-thumbnail" height="100px" width="100px" style=" cursor: pointer;" alt="Logo" onclick="$('#file-logo').click();"/>
                                <input id="file-logo" type="file" accept="image/*" class="fade" onchange="angular.element(this).scope().logo_changed(this)">
                            </div>
                        </div>
                        <br><br>
                        <form ng-submit="vm.update()">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Nombre:</label>
                                        <input type="text" class="form-control" ng-model="vm.user.nombre" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Dirección:</label>
                                        <input type="text" class="form-control" ng-model="vm.user.direccion" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Telefono:</label>
                                        <input type="number" class="form-control" ng-model="vm.user.telefono" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">RFC:</label>
                                        <input type="text" class="form-control" ng-model="vm.user.rfc" required>
                                    </div>    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Nombre del contacto:</label>
                                        <input type="text" class="form-control" ng-model="vm.user.contacto" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Nombre del contacto de pagos:</label>
                                        <input type="text" class="form-control" ng-model="vm.user.pagos.contacto" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Telefono del contacto de pagos:</label>
                                        <input type="number" class="form-control" ng-model="vm.user.pagos.telefono" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Correo eléctronico del contacto de pagos:</label>
                                        <input type="email" class="form-control" ng-model="vm.user.pagos.email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Correo eléctronico:</label>
                                        <input type="email" class="form-control" ng-model="vm.user.email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Usuario:</label>
                                        <input type="email" class="form-control" ng-model="vm.user.usuario" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" >Actualizar información</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  pull-right">
                                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-password">Cambiar contraseña</button>
                                    </div>
                                    </div>
                            </div>
                        </form>   
                    </div>
                </div>
                <!--end:: Widgets/Top Products--
            </div>

    </div>

  -->
