.m-widget27 .m-widget27__pic .m-widget27__title>span {
    font-size: 2.5rem;
}

.m-widget27 .m-widget27__pic>img {
    width: 100%;
    height: 142px;
}

.m-widget27 .m-widget27__pic:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none; 
    /* background: linear-gradient(to right,#909 20%,#4f30a2 120%); */
    opacity: 1;
}

.m-portlet-count{
    height: 125px !important;
}

.highcharts-root{
    margin-top: -97px;
}

.highcharts-container{
    height: 205px !important;
}

.m-portlet-charts .m-portlet__body {
    padding: 0.2rem 2.2rem;
}

.dashboard-icon{
    font-size: 25px;
    margin-right: 5px;
}

.dashboard-right{
    border-right: 3px solid #5867dd;
}