    <link href="app/panel/panel.css" rel="stylesheet" type="text/css" />

    <div class="m-content">

        
            <div class="col-xl-12">
                
                <!--begin:: Widgets/Top Products-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="m-portlet__body">
                        <br>
                        <div class="row">
                            <div class="col-md-6" ng-if="vm.admin" >
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">Agencia</label>
                                    <select class="form-control m-input" ng-model="vm.agencia" ng-change="vm.getCliente()" >
                                        <option value="">Seleccione una agencia</option>
                                        <option ng-repeat="a in vm.agencias" value="{{a._id}}" >{{a.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.clientes.length > 0 || vm.user_data.tipo == 2">
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">Cliente</label>
                                    <select class="form-control m-input" ng-model="vm.cliente" ng-change="vm.getPlazas()"  >
                                        <option value="">Seleccione una cliente</option>
                                        <option ng-repeat="c in vm.clientes" value="{{c._id}}" >{{c.nombre}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        </br>
                        <div class="row">
                            
                            <div class="col-xl-4 dashboard-right" >
                                <label>Mis plazas:</label>
                                <select class="form-control m-input m-input--square" ng-model="vm.plaza" >
                                    <option value="" >Seleccionar plaza</option>
                                    <option ng-repeat="p in vm.modems_cliente" value="{{p.folio}}" >{{p.folio}}</option>
                                </select>
                            </div>
                            <div class="col-xl-3">
                                <label>Filtrar:</label>
                                <datepicker date-format="dd/MM/yyyy" selector="date1">
                                <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                   
                                    <input type="text" ng-model="vm.fecha_inicial" class="date1 form-control m-input m-input--pill m-input--air" placeholder="Fecha inicial">
                                   

                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span>
                                            <i class="fa fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                
                                </div>
                                </datepicker>
    
                            </div>
                            <div class="col-xl-3">
                                <label>&nbsp;</label>
                                <datepicker date-format="dd/MM/yyyy" selector="date2">
                                <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                    
                                    <input type="text" ng-model="vm.fecha_final" class="date2 form-control m-input m-input--pill m-input--air" placeholder="Fecha final">
                                    

                                    <span class="m-input-icon__icon m-input-icon__icon--right">
                                        <span>
                                            <i class="fa fa-calendar-alt"></i>
                                        </span>
                                    </span>
                                
                                </div>
                                </datepicker>
                            </div>
                            <div class="col-xl-2">
                                <br>
                                <button type="button" style="margin-top: 6px;" class="btn m-btn--pill m-btn--air btn-primary" ng-click="vm.getData()">&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end:: Widgets/Top Products-->
            </div>
        
        <!--Begin::Section-->
        <div class="col-xl-12">
            <div class="row ">
                
                    <div class="col-xl-3">

                        <!--begin:: Widgets/Blog-->
                        <div class="m-portlet-count m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                            <div class="m-portlet__head m-portlet__head--fit-">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h1 class="m--font-light">
                                            <i class="dashboard-icon fab fa-hotjar"></i>
                                        </h1>
                                        <h3 class="m-portlet__head-text m--font-light">
                                            Impactos
                                        </h3>
                                    </div>
                                </div>

                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget27 m-portlet-fit--sides">
                                    <div class="m-widget27__pic">
                                        <img src="app/assets/bg-4.jpg" alt="">
                                        <h4 class="m-widget27__title m--font-light">
                                            <span>{{vm.impactos}}</span>
                                            <!--<span>
                                                1045</span>-->
                                        </h4>
                                    </div>
            
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Blog-->
                    </div>
                    <div class="col-xl-3">

                        <!--begin:: Widgets/Blog-->
                        <div class="m-portlet-count m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                            <div class="m-portlet__head m-portlet__head--fit-">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h1 class="m--font-light">
                                            <i class="dashboard-icon fa fa-wifi"></i>
                                        </h1>
                                        <h3 class="m-portlet__head-text m--font-light">
                                            Conexiones
                                        </h3>
                                    </div>
                                </div>

                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget27 m-portlet-fit--sides">
                                    <div class="m-widget27__pic">
                                        <img src="app/assets/bg-5.jpg" alt="">
                                        <h4 class="m-widget27__title m--font-light">
                                                <span>{{vm.conexiones}}</span>
                                            <!--<span>553</span>-->
                                        </h4>
                                    </div>
                
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Blog-->
                    </div>
                    <div class="col-xl-3">

                        <!--begin:: Widgets/Blog-->
                        <div class="m-portlet-count m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                            <div class="m-portlet__head m-portlet__head--fit-">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h1 class="m--font-light">
                                            <i class="dashboard-icon fa fa-users"></i>
                                        </h1>
                                        <h3 class="m-portlet__head-text m--font-light">
                                            Leads
                                        </h3>
                                    </div>
                                </div>

                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget27 m-portlet-fit--sides">
                                    <div class="m-widget27__pic">
                                        <img src="app/assets/bg-7.jpg" alt="">
                                        <h4 class="m-widget27__title m--font-light">
                                            <span>{{vm.leads}}</span>
                                           <!--<span>215</span>-->
                                        </h4>
                                    </div>
                
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Blog-->
                    </div>
                    <div class="col-xl-3">
                        <!--begin:: Widgets/Blog-->
                        <div class="m-portlet-count m-portlet m-portlet--head-overlay m-portlet--full-height  m-portlet--rounded-force">
                            <div class="m-portlet__head m-portlet__head--fit-">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h1 class="m--font-light">
                                            <i class="dashboard-icon fa fa-chart-line"></i>
                                        </h1>
                                        <h3 class="m-portlet__head-text m--font-light">
                                            Encuestas
                                        </h3>
                                    </div>
                                </div>

                            </div>
                            <div class="m-portlet__body">
                                <div class="m-widget27 m-portlet-fit--sides">
                                    <div class="m-widget27__pic">
                                        <img src="app/assets/bg-4.jpg" alt="">
                                        <h4 class="m-widget27__title m--font-light">
                                            <span>{{vm.encuestas}}</span>
                                        </h4>
                                    </div>
                
                                </div>
                            </div>
                        </div>

                        <!--end:: Widgets/Blog-->
                    </div>
            </div>
        </div>
        <!--End::Section-->

        <div class="col-xl-12 dashboard-charts">
            <div class="row">
                <div class="col-xl-4">
                    <div class="m-portlet-charts m-portlet m-portlet--brand m-portlet--head-solid-bg">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon">
                                        <i class="flaticon-diagram"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        GENERO
                                    </h3>
                                </div>
                            </div>

                        </div>
                        <div class="m-portlet__body">
                                <div id="container">Placeholder for chart</div> 
                        </div>
                    </div>
                                   
                </div>
                <div class="col-xl-4">
                    <div class="m-portlet-charts m-portlet m-portlet--success m-portlet--head-solid-bg">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon">
                                        <i class="flaticon-diagram"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        EDAD
                                    </h3>
                                </div>
                            </div>

                        </div>
                        <div class="m-portlet__body">
                                <div id="container2">Placeholder for chart</div> 
                        </div>
                    </div>
                                       
                </div>
                <div class="col-xl-4">
                    <div class="m-portlet-charts m-portlet m-portlet--primary m-portlet--head-solid-bg">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon">
                                        <i class="flaticon-diagram"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        VECES QUE SE HA CONECTADO UN CLIENTE
                                    </h3>
                                </div>
                            </div>

                        </div>
                        <div class="m-portlet__body">
                                <div id="container3">Placeholder for chart</div> 
                        </div>
                    </div>
                                        
                </div>
            </div>
        </div>

    </div>