<style type="text/css">

    #bee-plugin-container {
      /*position: absolute;
      top:5px;
      bottom:30px;
      left:5px;
      right:5px;
      width: 80%;
      margin-left: 20%;
      margin-top: 70px;*/
      height: 110vh;
    }

    iframe{
      min-width: 942px !important;
    }

  </style>

<div class="m-content row">
  
  <div class="col-xl-12">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height "  >
          <div class="m-portlet__body">
              <div class="col-xl-12">
                  <a href="#!/my-templates">
                  <button type="button"  class="btn btn-success m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
                      <span>
                          <i class="la la-arrow-left"></i>
                          <span> Regresar</span>&nbsp;&nbsp;
                          
                      </span>
                  </button>
                  </a>
                  <br>
              </div>
              <div class="col-xl-12">
                &nbsp;
              </div>
              <div class="row">
                  <div id="bee-plugin-container"></div>
              </div>
          </div>
      </div>  
  </div>

  
 
    
