<style>
.wrap {
    width: 320px;
    height: 144px;
    padding: 0;
    overflow: hidden;
}
.frame-container{


height: 188px;

}
.frame-container div{
   border: 2px solid gray !important;
   height: 144px;
   overflow: hidden;
}



iframe {
    width: 705px;
    height: 414px;
    -ms-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -webkit-transform: scale(0.2);
    transform: scale(0.3);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.wrap-options {
    border: 2px solid gray;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    width: 213px;
    height: 126px;
}
.wrap-options:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  position: absolute;
  z-index: 1;
  width: 210px;
  height: 121px;
}

.wrap-options button{
  margin-top: 13%;
  margin-left: 16%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  opacity: 1;
}

.agregar-plantilla{
  background-color: rgb(71, 82, 113);
  height: auto;
  height: 121px;
  text-align: center;
} 
.agregar-plantilla:hover{
  background-color: rgb(38, 44, 61);
 
} 
.agregar-plantilla-label{
  margin-top:20%;
  color:white;
  font-weight: bold;
}

</style>




<!--<div class="col-md-3 col-sm-6 preview-container" ng-repeat="plantilla in vm.plantillas">

<div class="col-md-12 wrap-options" >
   <button type="button" ui-sref="mail_editor({plantillaId: {{plantilla.id}}})" class="btn btn-icon btn-primary "><i class="fa fa-pencil-alt"></i></button>
  
   <button type="button"  class="btn btn-icon btn-danger btn-round " ng-click="vm.abrirModal(plantilla.id)"  ><i class="fa fa-trash-alt"></i>
   </button>
</div>
<div class="wrap">
  <iframe class="frame" src="app/mail_editor/templates/plantilla.html"></iframe>
</div>

</div>-->
<div class="m-content row">
  <div class="col-xl-12">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height " ng-if="vm.user_data.tipo == 1 || vm.user_data.tipo == 2" >
          <div class="m-portlet__body">
              <div class="row">
                  <div class="col-md-6" ng-if="vm.admin" >
                      <div class="form-group m-form__group">
                          <label for="exampleSelect1">Agencia</label>
                          <select class="form-control m-input" ng-model="vm.agencia" ng-change="vm.getCliente()" >
                              <option value="">Seleccione una agencia</option>
                              <option ng-repeat="a in vm.agencias" value="{{a._id}}" >{{a.nombre}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6" ng-if="vm.clientes.length > 0 || vm.user_data.tipo == 2">
                      <div class="form-group m-form__group">
                          <label for="exampleSelect1">Cliente</label>
                          <select class="form-control m-input" ng-model="vm.cliente" ng-change="vm.getSplashpages()"  >
                              <option value="">Seleccione una cliente</option>
                              <option ng-repeat="c in vm.clientes" value="{{c._id}}" >{{c.nombre}}</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>  
  </div>



<div class="col-xl-12">
<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm ">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Mis Plantillas
                </h3>
            </div>
            
        </div>
        <div class="m-portlet__head-tools">
            <button type="button" ng-if ="vm.cliente != '' || vm.user_data.tipo == 3" class="btn m-btn--pill    btn-info" ui-sref="mail-editor({ plantillaId: 0 , clienteId: vm.cliente})">
                 + Plantilla
            </button>
        </div>

    </div>
    <div class="m-portlet__body row">



  

    <div class="col-md-3 col-sm-6 preview-container" ng-repeat="plantilla in vm.plantillas">

        <div class="col-md-12 wrap-options" >
            <button type="button"  class="btn btn-icon btn-primary " ui-sref="mail-editor({ plantillaId:plantilla._id  , clienteId: plantilla.cliente})"><i class="fa fa-pencil-alt"></i></button>
          
            <button type="button"  class="btn btn-icon btn-danger btn-round " ng-click="vm.deleteTemplate(plantilla._id)"   ><i class="fa fa-trash-alt"></i>
            </button>
        </div>
        <div class="frame-container">
            <!--<iframe class="frame" ng-bind-html="vm.trustAsHtml(plantilla.html)"></iframe>-->
            <my-iframe class="frame" iframe-template="plantilla.html"></my-iframe>
        </div>
        
    </div>

  
</div>
</div>
</div>
</div>



<div id="delete_modal" class="modal fade animated in" role="dialog" aria-hidden="false" style="display: none;"><div class="modal-backdrop fade in"></div>
  <div class="modal-backdrop"></div>     
  <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style="background-color: rgb(255, 102, 102);">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title"><i class="fa fa-fw fa-exclamation-triangle"></i></h4>
              </div>
              <div class="modal-body ">
                  <h4>¿Seguro que deseas eliminar esta plantilla?</h4>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary modalcolor" ng-click="vm.eliminarPlantilla()" data-dismiss="modal">Continuar
                  </button>
                  
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar
                  </button>
              </div>
          </div>
      </div>
  </div>
