<div class="m-content row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--bordered-semi " >
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-md-4" ng-if="vm.admin" >
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">Agencia</label>
                            <select class="form-control m-input" ng-model="vm.agencia" ng-change="vm.getCliente()" >
                                <option value="">Seleccione una agencia</option>
                                <option ng-repeat="a in vm.agencias" value="{{a._id}}" >{{a.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="vm.clientes.length > 0 || vm.user_data.tipo == 2">
                        <div class="form-group m-form__group">
                            <label for="exampleSelect1">Cliente</label>
                            <select class="form-control m-input" ng-model="vm.cliente" ng-change="vm.getPlazas()"  >
                                <option value="">Seleccione una cliente</option>
                                <option ng-repeat="c in vm.clientes" value="{{c._id}}" >{{c.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 dashboard-right" ng-if="vm.cliente != '' || vm.user_data.tipo == 3">
                        <label>Plazas:</label>
                        <select class="form-control m-input m-input--square" ng-model="vm.plaza" ng-change="vm.getCampains()">
                            <option value="" >Seleccionar plaza</option>
                            <option ng-repeat="p in vm.modems_cliente" value="{{p.folio}}" >{{p.folio}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Campañas
                        </h3>
                        
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <button type="button" class="btn m-btn--pill    btn-info" ui-sref="campain({id_campain: null,id_cliente:vm.cliente || vm.user_data._id,modem:vm.plaza})" ng-disabled="vm.plaza == ''">
                         Nueva campaña
                    </button>
                </div>
            </div>
            <div class="m-portlet__body">
                <div id="calendar"></div>
            </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><label >{{vm.evento}}</label></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="vm.editar()" >Editar</button>
                        <button type="button" class="btn btn-danger" ng-click="vm.delete()">Eliminar</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>