<div class="m-content row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" ng-if="vm.edit == false">
                                Nueva campaña
                            </h3>
                            
                            <h3 class="m-portlet__head-text" ng-if="vm.edit == true">
                                Editar campaña
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <button type="button" class="btn m-btn--pill    btn-info" ng-click="vm.guardar()">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                           <div class="col-xl-4">
                                <div class="form-group m-form__group">
                                    <label for="exampleInputPassword1">Nombre:</label>
                                    <input type="text" class="form-control m-input m-input--air m-input--pill" ng-model="vm.campain.nombre" >
                                </div>
                           </div>
                            <div class="col-xl-4">
                                    <label>Fecha inicio:</label>
                                    <datepicker date-format="dd/MM/yyyy" selector="date1">
                                    <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                       
                                        <input type="text" ng-model="vm.campain.fecha_inicio" class="date1 form-control m-input m-input--pill m-input--air" placeholder="Fecha inicial">
                                       
            
                                        <span class="m-input-icon__icon m-input-icon__icon--right">
                                            <span>
                                                <i class="fa fa-calendar-alt"></i>
                                            </span>
                                        </span>
                                    
                                    </div>
                                    </datepicker>
            
                                </div>
                                <div class="col-xl-4">
                                    <label>Fecha fin:</label>
                                    <datepicker date-format="dd/MM/yyyy" selector="date2">
                                    <div class="m-input-icon m-input-icon--left m-input-icon--right">
                                        
                                        <input type="text" ng-model="vm.campain.fecha_fin" class="date2 form-control m-input m-input--pill m-input--air" placeholder="Fecha final">
                                        
            
                                        <span class="m-input-icon__icon m-input-icon__icon--right">
                                            <span>
                                                <i class="fa fa-calendar-alt"></i>
                                            </span>
                                        </span>
                                    
                                    </div>
                                    </datepicker>
                                </div> 
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-6">
                <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Splashpages
                                </h3>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="alert alert-primary col-md-12" role="alert" ng-repeat="s in vm.splashs">
                                <strong>{{s.nombre}}</strong> 
                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only pull-right" ng-click="vm.addSplash(s)">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
    
                    </div>
                </div>
        </div>
        <div class="col-xl-6">
                <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Splashpages asignados
                                </h3>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="alert alert-primary col-md-12" role="alert" ng-repeat="s in vm.campain.splashs">
                                <strong>{{s.nombre}}</strong> 
                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only pull-right" ng-click="vm.removeSplash(s)">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
    
                    </div>
                </div>
        </div>
        <div class="col-xl-6">
                <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Encuestas
                                </h3>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            
                            <div class="alert alert-primary col-md-12" role="alert" ng-repeat="e in vm.encuestas">
                                <strong>{{e.nombre}}</strong> 
                                <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only pull-right" ng-click="vm.addEncuesta(e)">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                            <!--<div class="alert alert-primary col-md-12" role="alert">
                                <strong>Satisfaccion al cliente</strong> 
                                <a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only pull-right">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="alert alert-primary col-md-12" role="alert">
                                <strong>Candidatos</strong> 
                                <a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only pull-right">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>-->
                        </div>
    
                    </div>
                </div>
        </div>
        <div class="col-xl-6">
                <div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Encuestas asignadas
                                </h3>
                            </div>
                        </div>
                        
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                                <div class="alert alert-primary col-md-12" role="alert" ng-repeat="e in vm.campain.encuestas">
                                        <strong>{{e.nombre}}</strong> 
                                        <a class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only pull-right" ng-click="vm.removeEncuesta(e)">
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                    </div>
                            <!--<div class="alert alert-primary col-md-12" role="alert">
                                <strong>Marcas comerciales</strong> 
                                <a href="#" class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only pull-right">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                            </div>-->
                        </div>
    
                    </div>
                </div>
        </div>
 </div>