

    <div class="m-content">

        
            <div class="col-xl-12">
                
                <!--begin:: Widgets/Top Products-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                    <div class="m-portlet__body">
                        <button type="button" class="btn btn-brand" ng-click="vm.editar()"><i class="fa fa-plus" ></i> Nuevo usuario</button>
                        <button type="button" class="btn btn-primary pull-right" ng-click="showFilter = !showFilter"><i class="fa fa-filter"></i> Filtros</button>
                        <br><br>
                        <div class="row">
                            <table ng-table="vm.tableParams"show-filter="showFilter"  class="table m-table m-table--head-bg-success" show-filter="true">
                                <tr ng-repeat="user in $data">
                                    <td title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                                        {{user.nombre}}
                                    </td>
                                    <td title="'Correo'" filter="{ email: 'text'}" sortable="'email'">
                                        {{user.email}}
                                    </td>
                                    <td title="'Teléfono'" filter="{ telefono: 'text'}" sortable="'telefono'">
                                        {{user.telefono}}
                                    </td>
                                    <td title="'Estatus'"  >
                                        {{vm.checkStatus(user.estatus)}}
                                    </td>
                                    <td title="'Acción'"  >
                                        <span class="btn btn-brand m-btn m-btn--icon m-btn--icon-only" title="Editar" ng-click="vm.editar(user)">
                                            <i class="fa fa-pencil-alt"></i>
                                        </span>
                                        <span class="btn btn-danger m-btn m-btn--icon m-btn--icon-only" title="Desactivar" ng-click="vm.eliminar(user)">
                                            <i class="fa fa-power-off"></i>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
                <!--end:: Widgets/Top Products-->
            </div>

    </div>

    <!--begin::Modal-->
    <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header " >
                    <h5 class="modal-title" ng-if="vm.accion == 'update'" >Editar usuario</h5>
                    <h5 class="modal-title" ng-if="vm.accion == 'insert'" >Agregar usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form ng-submit="vm.singIn()">
                    <div class="modal-body" style="height: 450px; overflow: auto;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Nombre:</label>
                                    <input type="text" class="form-control" ng-model="vm.userSelected.nombre" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Dirección:</label>
                                    <input type="text" class="form-control" ng-model="vm.userSelected.direccion" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Telefono:</label>
                                    <input type="number" class="form-control" ng-model="vm.userSelected.telefono" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">RFC:</label>
                                    <input type="text" class="form-control" ng-model="vm.userSelected.rfc" required>
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nombre del contacto:</label>
                                    <input type="text" class="form-control" ng-model="vm.userSelected.contacto" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nombre del contacto de pagos:</label>
                                    <input type="text" class="form-control" ng-model="vm.userSelected.pagos.contacto" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Telefono del contacto de pagos:</label>
                                    <input type="number" class="form-control" ng-model="vm.userSelected.pagos.telefono" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Correo eléctronico del contacto de pagos:</label>
                                    <input type="email" class="form-control" ng-model="vm.userSelected.pagos.email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Correo eléctronico:</label>
                                    <input type="email" class="form-control" ng-model="vm.userSelected.email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Usuario:</label>
                                    <input type="email" class="form-control" ng-model="vm.userSelected.usuario" required>
                                </div>
                            </div>
                        </div>
                        <div class="row"  ng-if="vm.accion == 'insert'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Password:</label>
                                    <input type="password" class="form-control" ng-model="vm.userSelected.password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="repeat-password" class="form-control-label">Repetir Password:</label>
                                    <input id="repeat-password" type="password" class="form-control" ng-model="vm.userSelected.password2" ng-change="vm.checkPasswords(vm.userSelected.password2)" required>
                                </div>
                            </div>
                        </div>
                        <div class="row"  ng-if="vm.accion == 'update'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="vm.changePassword"> Cambiar password</label>
                                </div>
                            </div>
                        </div>
                        <div class="row"  ng-if="vm.changePassword">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Password:</label>
                                    <input type="password" class="form-control" ng-model="vm.userSelected.password" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="repeat-password" class="form-control-label">Repetir Password:</label>
                                    <input id="repeat-password" type="password" class="form-control" ng-model="vm.userSelected.password2" ng-change="vm.checkPasswords(vm.userSelected.password2)" required>
                                </div>
                            </div>
                        </div>
                        <!--si es admin seleccionar si es agencia o cliente
                        si selecciona cliente decir cual agencia-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Tipo:</label>
                                    <select class="form-control" ng-model="vm.userSelected.tipo" required >
                                        <option value="2">Agencia</option>
                                        <option value="3">Cliente</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.userSelected.tipo == 3">
                                <div class="form-group">
                                    <label class="form-control-label">Agencia:</label>
                                    <select class="form-control" ng-model="vm.userSelected.agencia" required >
                                        <option ng-repeat="u in vm.agencias" value="{{u._id}}">{{u.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Estatus:</label>
                                    <select class="form-control" ng-model="vm.userSelected.estatus" required >
                                        <option value="1">Activo</option>
                                        <option value="2">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Logo:</label>
                                    <input type="file"accept="image/*"  onchange="angular.element(this).scope().logo_changed(this)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <img id="logo" src="{{vm.userSelected.logo || 'assets/app/media/img/users/default-user.png' }}" class="m--img-rounded" alt="Logo" height="50%" />
                            </div>      
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--end::Modal-->

    <!--Modal::Eliminar-->

    <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar usuario</h5>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro de eliminar al usuario?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>