
<link href="app/e-marketing/marketing.css" rel="stylesheet" type="text/css" />


    <div class="m-content row">

            <div class="col-xl-12 phone-container"> 
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height " ng-if="vm.user_data.tipo == 1 || vm.user_data.tipo == 2" >
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-6" ng-if="vm.admin" >
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">Agencia</label>
                                    <select class="form-control m-input" ng-model="vm.agencia" ng-change="vm.getCliente()" >
                                        <option value="">Seleccione una agencia</option>
                                        <option ng-repeat="a in vm.agencias" value="{{a._id}}" >{{a.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" ng-if="vm.clientes.length > 0 || vm.user_data.tipo == 2">
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">Cliente</label>
                                    <select class="form-control m-input" ng-model="vm.cliente" >
                                        <option value="">Seleccione una cliente</option>
                                        <option ng-repeat="c in vm.clientes" value="{{c._id}}" >{{c.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 phone-container"> 




                <!--begin:: Widgets/Top Products-->
                <div class="m-portlet m-portlet--full-height" ng-if ="vm.cliente != '' || vm.user_data.tipo == 3">

                    <!--begin: Portlet Head-->
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Whatsapp Marketing
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a href="" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="" data-original-title="Get help with filling up this form">
                                        <i class="flaticon-info m--icon-font-size-lg3"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--end: Portlet Head-->

                    <!--begin: Portlet Body-->
                    <div class="m-portlet__body m-portlet__body--no-padding">

                        <!--begin: Form Wizard-->
                        <div class="m-wizard m-wizard--4 m-wizard--brand m-wizard--step-first" id="m_wizard">
                            <div class="row m-row--no-padding">
                                <!--<div class="col-xl-3 col-lg-12 m--padding-top-20 m--padding-bottom-15">

                                    <--begin: Form Wizard Head --
                                    <div class="m-wizard__head">

                                        <--begin: Form Wizard Nav --
                                        <div class="m-wizard__nav">
                                            <div class="m-wizard__steps">
                                                <div class="m-wizard__step " ng-class="(vm.step == 1)?'m-wizard__step--current':''" m-wizard-target="m_wizard_form_step_1">
                                                    <div class="m-wizard__step-info">
                                                        <a class="m-wizard__step-number" ng-click="vm.setStep(1)">
                                                            <span>
                                                                <span>1</span>
                                                            </span>
                                                        </a>
                                                        <div class="m-wizard__step-label">
                                                            Buscar usuarios
                                                        </div>
                                                        <div class="m-wizard__step-icon">
                                                            <i class="la la-check"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--end: Form Wizard Nav --
                                    </div>

                                    <!--end: Form Wizard Head --
                                </div>-->
                                <div class="col-xl-12 col-lg-12">

                                    <!--begin: Form Wizard Form-->
                                    <div class="m-wizard__form">

                                        <!--
                    1) Use m-form--label-align-left class to alight the form input lables to the right
                    2) Use m-form--state class to highlight input control borders on form validation
                -->
                                        <form class="m-form m-form--label-align-left- m-form--state-" id="m_form" novalidate="novalidate">

                                            <!--begin: Form Body -->
                                            <div class="m-portlet__body m-portlet__body--no-padding">

                                                <!--begin: Form Wizard Step 1-->
                                                <div class="m-wizard__form-step " ng-class="(vm.step == 1)?'m-wizard__form-step--current':''" id="m_wizard_form_step_1">
                                                    <div class="row">
                                                        <div class="col-md-8 ">
                                                            <div class="form-group m-form__group row">
                                                                <label for="example-number-input" class="col-2 col-form-label">Mensaje</label>
                                                                <div class="col-10">
                                                                    <textarea class="form-control"   rows="5" ng-model="vm.mensaje"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><br><br>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Sexo</label>
                                                            <select class="form-control m-input m-input--air m-input--pill" id="exampleSelect1" ng-model="vm.params.sexo" ng-init="vm.params.sexo = 'todos'">
                                                                <option value="masculino">Masculino</option>
                                                                <option value="femenino">Femenino</option>
                                                                <option value="todos">Todos</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <div class="col-md-12 ">
                                                                <label>Edad</label>
                                                            </div>
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6 ">
                                                                    <label class="m-radio m-radio--bold m-radio--state-brand">
                                                                        <input type="radio" name="example_5_1" value="0" ng-model="vm.edad"> Cualquier
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 ">
                                                                    <label class="m-radio m-radio--bold m-radio--state-brand">
                                                                        <input type="radio" name="example_5_1" value="1"  ng-model="vm.edad"> Por rango
                                                                        <span></span>
                                                                    </label>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 row" ng-if="vm.edad == 1">
                                                                <div class="col-md-6 ">
                                                                    <div class="form-group m-form__group row">
                                                                        <!--<label for="example-number-input" class="col-2 col-form-label">Number</label>-->
                                                                        <div class="col-10">
                                                                            <input class="form-control m-input" type="number" value="10" id="example-number-input" ng-model="vm.params.edad1" >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ">
                                                                    <div class="form-group m-form__group row">
                                                                        <!--<label for="example-number-input" class="col-2 col-form-label">Number</label>-->
                                                                        <div class="col-10">
                                                                            <input class="form-control m-input" type="number" value="42" id="example-number-input" ng-model="vm.params.edad2" >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><br>
                                                    
                                                        </div>
                                                        <div class="col-md-2">
                                                            <br>
                                                            <button type="button" style="margin-top: 6px;" class="btn m-btn--pill m-btn--air btn-primary" ng-click="vm.getData()">&nbsp;&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                      
                                                        <div class="col-md-12">
                                                            <table ng-table="vm.tableParams" show-filter="showFilter"  class="table m-table m-table--head-bg-success" show-filter="true">
                                                                <tr ng-repeat="user in $data">
                                                                    <td title="'Foto Perfil'" >
                                                                        <img src="{{user.url_imagen || 'app//assets//hi-logo.png'}}" class="m--img-rounded m--marginless" height="50px" width="50px" alt="" />
                                                                        </td>
                                                                    <td title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'" >
                                                                        {{user.nombre}}
                                                                    </td>
                                                                    <td title="'Correo'" filter="{ correo: 'text'}" >
                                                                        {{user.correo}}
                                                                    </td>
                                                                    <td title="'Teléfono'" filter="{ telefono: 'text'}" sortable="'telefono'">
                                                                        {{user.telefono}}
                                                                    </td>
                                                                    <td title="'Edad'" filter="{ edad: 'text'}"  sortable="'edad'">
                                                                        {{user.edad}}
                                                                    </td>
                                                                    <td title="'Sexo'" filter="{ sexo: 'text'}"  >
                                                                        {{vm.checkSexo(user.sexo)}}
                                                                    </td>
                                                                    <td title="'Acción'" >
                                                                        <a href="{{'https://api.whatsapp.com/send?phone='+'52'+user.telefono+'&text='+vm.mensaje}}" class="btn btn-success m-btn m-btn--icon m-btn--icon-only m-btn--pill" target="_blanl">
                                                                                <i class="fab fa-whatsapp"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <!--<div class="row">
                                                        <button type="button" ng-click="vm.leadsStep()" class="btn btn-success m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
                                                            <span>
                                                                <span>Siguiente</span>&nbsp;&nbsp;
                                                                <i class="la la-arrow-right"></i>
                                                            </span>
                                                        </button>
                                                    </div>-->
                                                </div>

                                                <!--end: Form Wizard Step 1-->

                                                <!--begin: Form Wizard Step 2-->
                                            <!--end: Form Body -->

                                            <!--begin: Form Actions -->
                                 

                                            <!--end: Form Actions -->
                                        </form>
                                    </div>

                                    <!--end: Form Wizard Form-->
                                </div>
                            </div>
                        </div>

                        <!--end: Form Wizard-->
                    </div>

                    <!--end: Portlet Body-->
                </div>
            </div>
        
      

    </div>

    <style>

    .frame-container{

     padding: 4px;
    height: 188px;

    }
    .frame-container div{
        border: 2px solid gray !important;
        height: 144px;
        overflow: hidden;
    }

    iframe {
        width: 600px;
        height: 600px;
        -ms-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -o-transform: scale(0.2);
        -webkit-transform: scale(0.2);
        transform: scale(0.25);
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    </style>

