

    <div class="m-content">

        
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height " ng-if="vm.user_data.tipo == 1 || vm.user_data.tipo == 2" >
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-6" ng-if="vm.admin" >
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Agencia</label>
                                <select class="form-control m-input" ng-model="vm.agencia" ng-change="vm.getCliente()" >
                                    <option value="">Seleccione una agencia</option>
                                    <option ng-repeat="a in vm.agencias" value="{{a._id}}" >{{a.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="vm.clientes.length > 0 || vm.user_data.tipo == 2">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Cliente</label>
                                <select class="form-control m-input" ng-model="vm.cliente" ng-change="vm.getModemsCliente()"  >
                                    <option value="">Seleccione una cliente</option>
                                    <option ng-repeat="c in vm.clientes" value="{{c._id}}" >{{c.nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--begin:: Widgets/Top Products-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                <div class="m-portlet__body">
                    <button type="button" class="btn btn-brand" data-toggle="modal" data-target="#m_modal_4" ><i class="fa fa-plus" ></i> Nuevo modem</button>
                    <br><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                Modems/Plaza Sin asignar
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <p ng-if="vm.modems.length == 0">No existen modems sin asignar</p>
                                    <div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert" ng-repeat="m in vm.modems">
                                        <div class="m-alert__icon">
                                            <i class="la la-wifi"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <p><strong>Nombre: </strong>{{m.nombre}}</p>
                                            <p><strong>Folio: </strong>{{m.folio}}</p>
                                            <p><strong>Wifi name: </strong>{{m.wifi_name}}</p>
                                        </div>
                                        <div class="m-alert__actions">
                                            <button ng-disabled="vm.cliente == ''" ng-click="vm.asignar(m)" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
                                                <i class="la la-angle-double-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-if="vm.cliente != ''" class="m-portlet m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                                Modems del cliente : {{vm.cliente_nombre}}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <p ng-if="vm.modems_clientes.length == 0">El cliente no tiene modems asignados</p>
                                    <div class="m-alert m-alert--icon m-alert--outline alert alert-primary" role="alert" ng-repeat="m in vm.modems_clientes">
                                        <div class="m-alert__icon">
                                            <i class="la la-wifi"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <p><strong>Nombre: </strong>{{m.nombre}}</p>
                                            <p><strong>Folio: </strong>{{m.folio}}</p>
                                            <p><strong>Wifi name: </strong>{{m.wifi_name}}</p>
                                        </div>
                                        <div class="m-alert__actions">
                                            <button ng-click="vm.urlTanaza(m)" class="btn btn-outline-primary m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--outline-2x m-btn--pill m-btn--air">
                                                <i class="la la-link"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end:: Widgets/Top Products-->
        </div>

</div>

<!--begin::Modal-->
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header " >
                <h5 class="modal-title" >Agregar modem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="vm.agregarModem()">
                <div class="modal-body" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Nombre del modem/plaza:</label>
                                <input type="text" class="form-control" placeholder="Nombre/Plaza" ng-model="vm.modem.nombre" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Dirección donde se ubica:</label>
                                <input type="text" class="form-control" placeholder="Dirección" ng-model="vm.modem.direccion" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Folio:</label>
                                <input type="text" style="text-transform:uppercase;" class="form-control" placeholder="HIC-7500LOB" ng-model="vm.modem.folio" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Wifi name:</label>
                                <input type="text" class="form-control" placeholder="Wifi name" ng-model="vm.modem.wifi_name" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">M.A.C.:</label>
                                <input type="text" class="form-control" placeholder="M.A.C" ng-model="vm.modem.mac" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar Modem</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--end::Modal-->


<!--begin::Modal-->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header " >
                    <h5 class="modal-title" >Asignar modem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <p>
                        ¿Estas seguro de asignar el modem/plaza al cliente: <br> <b>{{vm.cliente_nombre}}</b>?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="vm.asignarModem()">Asignar modem/plaza</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!--end::Modal-->
    
    
    <div class="modal fade" id="modal_tanaza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header " >
                    <h5 class="modal-title" >URL para agregar a Tanaza</h5>
                </div>
                <div class="modal-body" >
                    <div class="form-group m-form__group">
                        <div class="input-group">
                            <input id="tanaza-url" type="text" class="form-control" ng-model="vm.url_tanaza" ng-disabled="true">
                        
                            <div class="input-group-append">
                                <a class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only" ng-click="vm.copied()"><i class="la la-copy"></i></a>
                            </div>
                        </div>
                        <label ng-if="vm.successful">URL Copiada</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="vm.cerrarModalTanaza()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>